*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgb(255, 153, 0);
}

nav{
    display:flex;
    height: 52px;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-left: 20px;
    list-style: none;
    font-size: 20px;
}

a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
    transition: .5s;
}
a:hover{
    background-color: rgb(255, 123, 0);
    font-weight: 500;
    color: white;
}

section{
    height: calc(100vh - 52px);
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h1{
    font-size: 30px;
}
